*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
  background-color: lightgreen;
}
nav{
    background-color: green;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
nav .logo a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
