body {
  background-color: lightgreen;
}

button{
    font-size: 30px;
    font-weight: 500;
    color: LimeGreen;
    background-color: MediumSeaGreen;
    border-radius: 50px;
    border-color: DarkGrenn;
    padding: 0% 2%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    
}
.img {
  font-size: 25px;
}
.p {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

  
