body{
    background-color: lightgreen;
}
h1 {
    display: inline-block;
}

.container {
    display: flex;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

img {
    border-radius: 100%;
}

button {
    border-radius: 10%;
    font-size: 30px;
    background-color: rgb(255, 189, 151);
    cursor: pointer;
}
