*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
  background-color: lightgreen;
}

.logodiv{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
}

.logo{
    width:50%;
}

.btn-1{
    font-size: 17px;
    font-weight: 500;
    color: #ffcf4a;
    background-color: transparent;
    border-radius: 50px;
    border-color:#ffcf4a;
    padding: 7px 25px;
    cursor: pointer;
}

.btn-2{
}

.btn-3{
}



  
